<div class="footer-inner aui-lay grid-960 clearfix">
	<div class="aui-column aui-w25 aui-column-first">
		<div class="aui-column-content">
			$footer-col-1-content
		</div>
	</div>
	<div class="aui-column aui-w25">
		<div class="aui-column-content">
			$footer-col-2-content
		</div>
	</div>
	<div class="aui-column aui-w25">
		<div class="aui-column-content">
			$footer-col-3-content
		</div>
	</div>
	<div class="aui-column aui-w25 aui-column-last">
		<div class="aui-column-content">
			$footer-col-4-content
		</div>
	</div>
	<div class="aui-column aui-w100 footer-ft">
		<h1 class="vgr-logo">
			<a class="logo" href="$vgr_url" title="#language("go-to") $vgr_text">
				<span>$vgr_text</span>
			</a>
		</h1>
	</div>
</div>