## ---------- Null ---------- ##
#set ($null = $someNeverUserVariable)

## ---------- Classes ---------- ##

#set($class_name_group = "com.liferay.portal.model.Group")

## ---------- Expando ---------- ##

#set($expando_default_table = "CUSTOM_FIELDS")

## ---------- URLs ---------- ##

#set($page_contact_text = "Kontakt")
#set($page_contact_url = "/kontakt")

#set($site_english_text = "Engelska")
#set($site_english_url = "")

#set($vgr_text = "Till V&auml;stra G&ouml;talandsregionen")
#set($vgr_url = "http://www.vgregion.se")

#set($profile_text = "V&aring;r sida")
#set($profile_help_text = "H&auml;r kan du &auml;ndra er profil.")
#set($profile_url = "/var-sida")

## ---------- Theme settings ---------- ##

#set($use_site_breadcrumbs = true)

#if ($theme.getSetting("site-breadcrumbs") == "false")
	#set($use_site_breadcrumbs = false)
#end

## ---------- Web Content ---------- ##

## --- Footer --- ##

#set( $footer-col-1-exp = "gothiaFooterArticleId1" )
#set( $footer-col-2-exp = "gothiaFooterArticleId2" )
#set( $footer-col-3-exp = "gothiaFooterArticleId3" )
#set( $footer-col-4-exp = "gothiaFooterArticleId4" )

#set ( $footer-col-1-content-id = $expandoValueLocalService.getData($company_id, $class_name_group, $expando_default_table, $footer-col-1-exp, $group_id, "") )
#set ( $footer-col-2-content-id = $expandoValueLocalService.getData($company_id, $class_name_group, $expando_default_table, $footer-col-2-exp, $group_id, "") )
#set ( $footer-col-3-content-id = $expandoValueLocalService.getData($company_id, $class_name_group, $expando_default_table, $footer-col-3-exp, $group_id, "") )
#set ( $footer-col-4-content-id = $expandoValueLocalService.getData($company_id, $class_name_group, $expando_default_table, $footer-col-4-exp, $group_id, "") )

## --- Footer Col 1 --- ##
	
#set ($footer-col-1-template-id=$null)
#set($footer-col-1-content=$journalContentUtil.getContent($group_id, $footer-col-1-content-id, $footer-col-1-template-id, "$locale", $theme_display))

#if($footer-col-1-content == $null)
	#set($footer-col-1-content = "")
#end

## --- Footer Col 2 --- ##
	
#set ($footer-col-2-template-id=$null)
#set($footer-col-2-content=$journalContentUtil.getContent($group_id, $footer-col-2-content-id, $footer-col-2-template-id, "$locale", $theme_display))

#if($footer-col-2-content == $null)
	#set($footer-col-2-content = "")
#end

## --- Footer Col 3 --- ##
	
#set ($footer-col-3-template-id=$null)
#set($footer-col-3-content=$journalContentUtil.getContent($group_id, $footer-col-3-content-id, $footer-col-3-template-id, "$locale", $theme_display))

#if($footer-col-3-content == $null)
	#set($footer-col-3-content = "")
#end

## --- Footer Col 4 --- ##
	
#set ($footer-col-4-template-id=$null)
#set($footer-col-4-content=$journalContentUtil.getContent($group_id, $footer-col-4-content-id, $footer-col-4-template-id, "$locale", $theme_display))

#if($footer-col-4-content == $null)
	#set($footer-col-4-content = "")
#end


## ---------- Google Translate ---------- ##

#set ($google_translate_active = $propsUtil.get("web.translate.google.translate.active"))

## ---------- Add This Sharing ---------- ##

#set ($add_this_active = $propsUtil.get("web.sharing.addthis.active"))
#set($add_this_pub_id = "xa-4e5cc7cc3e20cfeb")
#set($add_this_widget_url = "https://s7.addthis.com/js/250/addthis_widget.js")
#set($add_this_widget_url_full = $add_this_widget_url + "#pubid=" + $add_this_pub_id)


## ---------- Piwik ---------- ##

#set ($piwik_active = $propsUtil.get("web.tracking.piwik.active"))
#set ($piwik_url = "http://piwik.vgregion.se/" )
#set ($piwik_url_secure = "https://piwik.vgregion.se/" )
#set ($piwik_url_no_script_img = "http://piwik.vgregion.se/piwik.php?idsite=77" )
#set ($piwik_script_name = "piwik.js" )
#set ($piwik_site_id = 77 )

## ---------- Language Support ---------- ##

#set($has-english-site = false)