<div id="navigation" class="sort-pages modify-pages alt3">
    <ul class="clearfix">
        #set($nav_item_ticker = 0)
        #foreach ($nav_item in $nav_items)
            #if ($nav_item.isSelected())
                    #set ($nav_item_class = "selected")
            #else
                    #set ($nav_item_class = "")
            #end

            #if($nav_item_ticker == 0)
                #set ($nav_item_class = "first " + $nav_item_class)
            #end
            
            <li class="$nav_item_class">
                <a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.getName()</span></a>
            </li>

            #set($nav_item_ticker = $nav_item_ticker + 1)
        #end
    </ul>
</div>